:80 {
    root * /var/www/html

    php_fastcgi php:9000

    @api path /api/*
    header @api {
        Access-Control-Allow-Origin  *
        Access-Control-Allow-Methods "GET, POST, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization"
    }

    @options method OPTIONS
    respond @options 204

    file_server

    try_files {path} /index.html

    log {
        output stdout
        format console
    }
}
